.commodity-container {
    margin-top: 70px;
    margin-bottom: 50px;

   
    .commodity-order{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px  solid black;
        .commodity-sale{
            display: flex;
            span{
                display: block;
                border: 1px solid black;
                background-color: red;
            }
        }
    
        .commodity-filter{}
    }
 
}

.commodity-area{
    margin-bottom: 70px;

    .commodity-obj{
        display: flex;
        border-bottom: 1px solid black;
        padding: 10px;
       
        .commodity-pic{
            width: 50%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .commodity-body{
            width: 50%;
            padding: 10px;

            .commodity-name{}
            .commodity-price{}
            .commodity-evaluation{}

        }
    }
}

@media screen and (min-width:768px){
    .commodity-list{
        margin-top: 70px;
    
        .commodity-order{
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
        }
        .commodity-filter{}
    }
    
    .commodity-area{
        margin-bottom: 70px;
    
        .commodity-obj{
            display: flex;
            border-bottom: 1px solid black;
            padding: 10px;
           
            .commodity-pic{
                width: 10%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .commodity-body{
                width: 50%;
                padding: 10px;
    
                .commodity-name{}
                .commodity-price{}
                .commodity-evaluation{}
    
            }
        }
    }

}