.filter-range {
    position: fixed;
    top: 50%;
    right: 0;
    padding: 10px;
    z-index: 0;
    svg{
        font-size: 35px;
    }
}
.filter-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;

    .filter-list {
        width: 100%;
        max-width: 300px;
        background-color: $white;
        position: relative;
        line-height: 2;
        padding: 10px;
        border-radius:20px;
        top: 10%;
       

        .filter-close {
            position: absolute;
            top: -3px;
            right: 18px;

            p {
                color: gray;
                padding: 10px;
                font-size: 22px;
            }
        }

        .price-range {
            margin-top: 30px;
            font-size: 22px;
            text-align: center;
            input{
                text-align: center;
                margin-bottom: 10px;
            }
          
        }
        .price-checkbox {
            font-size: 22px;
            text-align: left;

            p{
                margin-left: 90px;
            }
        }
        .keyword {
            text-align: left;

            p{
                margin-left: 90px;
            }
        }
    }
}
.filter-wrap {
    display: none;
}

@media screen and (min-width: 768px) {
    .filter-range {
        display: none;
    }
    .filter-wrap {
        line-height: 3;
        display: block;
        margin-top: 50px;
        font-weight: 900;
        margin-left: 30px;

        .filter-list {
            width: 100%;
            box-shadow: 0px 0px 10px rgb(206, 206, 206);
            padding: 10px;
            text-align: center;
            margin-bottom: 100px;

            .filter-close {
                display: none;
            }

            .price-range {
                margin-top: 30px;
                padding: 0;
                line-height: 1.5;
                input{
                    padding: 5px;
                    text-align: center;
                    margin: 10px;
                }
                .range-btn{
                    button{
                        // padding: 0
                    }
                }
                
            }
            .price-checkbox {
                width: 150px;
                margin: auto;
                text-align: left;

                :first-child {
                    text-align: center;
                }
            }
        }
        .keyword {
            width: 150px;
            text-align: left;
            margin: auto;

            :first-child {
                text-align: center;
            }
        }
    }
}
