.massage_game{
    width: 100%;
    .game_container{
        margin-top: 70px;
        .quiz_container{
            .question_container{
                width: 80%;
                padding: 5px;
                margin: 70px auto 40px auto;
                border: 3px solid $blue;
                border-radius: 12px;
                box-shadow: 6px 10px 0px 0px $blue;
                background-color: #fff;
                position: relative;
                .question_frame{
                    border-radius: 8px;
                    border: 2px solid $blue;
                    .question{
                        padding: 20px;
                        text-align: center;
                        line-height: 2;
                        color: #524F4F;
                        font-size: 18px;
                    }
                }
                &::before{
                    content: "";
                    width: 0px;
                    border-top: 2px solid $blue;
                    border-right: 2px solid $blue;
                    border-bottom: 50px solid $blue;
                    border-left: 2px solid $blue;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                }
            }
            .answer_container{
                width: 80%;
                padding: 5px;
                margin: 0px auto 50px auto;
                border: 3px solid $blue;
                border-radius: 12px;
                box-shadow: 6px 10px 0px 0px $blue;
                background-color: #fff;
                position: relative;
                .answer_frame{
                    padding: 20px;
                    border-radius: 8px;
                    border: 2px solid $blue;
                    font-size: 18px;
                    letter-spacing: 3px;
                    color: #524F4F;
                    .answer{
                        color: $blue;
                        font-family: $fontTitle;
                        font-size: 32px;
                        .answer_correct{
                            padding-top: 10px;
                            font-family: Arial, Helvetica, sans-serif;
                            color:#524F4F;
                            font-size: 20px;
                            line-height: 1.5;
                        }
                    }
                    .answer.answer_click{
                        padding-top: 12px;
                        padding-bottom: 12px;
                        font-size: 18px;
                        letter-spacing: 1px;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                }
            }
            .answer_container::before{
                content: "";
                width: 0px;
                position: absolute;
            }
            .correct_container{
                width: 80%;
                padding: 5px;
                margin: 70px auto 50px auto;
                border: 3px solid $blue;
                border-radius: 12px;
                box-shadow: 6px 10px 0px 0px $blue;
                background-color: #fff;
                position: relative;
                .correct_frame{
                    border-radius: 8px;
                    border: 2px solid $blue;
                    font-size: 18px;
                    letter-spacing: 3px;
                    color: #524F4F;
                    .correct{
                        padding: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        color:#524F4F;
                        font-size: 20px;
                        line-height: 1.5;
                        .answer_title{
                            color: $blue;
                            font-family: $fontTitle;
                            font-size: 32px;
                        }
                    }
                }
            }
            .correct_container::before{
                content: "";
                width: 0px;
                border-top: 2px solid $blue;
                border-right: 2px solid $blue;
                border-bottom: 65px solid $blue;
                border-left: 2px solid $blue;
                position: absolute;
                top: -25%;
                left: 50%;
            }
            
        }
        .hand_pic{
            width: 80%;
            margin: 0 auto 0 auto;
            position: relative;
            img{
                display: block;
                width: 100%;
                object-fit: contain;
            }
            .zhong_chong{
                position: absolute;
                top: 0%;
                left: 35%;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                z-index: 98;
            }
            .fzhong_chong{
                position: absolute;
                top: 0%;
                left: 35%;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                z-index: 98;
            }
            .zhong_chong:hover{
                background-color: $red;
                transition: 0.3s;
                scale: 1.5;
                box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
            }
            .fzhong_chong:focus{
                background-color: $red;
                scale: 1.5;
                box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
            }
            .zhong_chong::after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                background-color: $blue;
                transition: 0.5s;
                top: 12px;
                left: 0px;
            }
            .fzhong_chong::after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                background-color: $blue;
                transition: 0.5s;
                top: 12px;
                left: 0px;
            }
            .zhong_chong:hover::after{
                width: 40px;
                height: 1px;
                transition: 0.5s;
                left: -40px;
            }
            .fzhong_chong:focus::after{
                width: 40px;
                height: 1px;
                left: -40px;
            }
            .zhong_chong::before{
                width: 12px;
                font-size: 18px;
                position: absolute;
                content: '';
                font-family: $fontTitle;
                color: transparent;
                transition: 0.3s;
                top: -25px;
                left: -65px;
                content: '中衝穴';
            }
            .fzhong_chong::before{
                width: 12px;
                font-size: 18px;
                position: absolute;
                font-family: $fontTitle;
                color: transparent;
                transition: 0.3s;
                top: -25px;
                left: -65px;
                content: '中衝穴';
            }
            .zhong_chong:hover::before{
                color: $blue;
                transition: 0.3s 0.2s;
            }
            .fzhong_chong:focus::before{
                color: $blue;
            }

            .shao_shang{
                position: absolute;
                top: 44%;
                left: 90%;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                z-index: 98;
            }
            .fshao_shang{
                position: absolute;
                top: 44%;
                left: 90%;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                z-index: 98;
            }
            .shao_shang:hover{
                background-color: $red;
                transition: 0.3s;
                scale: 1.5;
                box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
            }
            .fshao_shang:focus{
                background-color: $red;
                scale: 1.5;
                box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
            }
            .shao_shang::after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                background-color: $blue;
                transition: 0.5s;
                top: 12px;
                left: 100%;
            }
            .fshao_shang::after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                background-color: $blue;
                transition: 0.5s;
                top: 12px;
                left: 100%;
            }
            .shao_shang:hover::after{
                height: 1px;
                transition: 0.5s;
                width: 10px;
                left: 100%;
            }
            .fshao_shang:focus::after{
                height: 1px;
                width: 10px;
                left: 100%;
            }
            .shao_shang::before{
                width: 12px;
                font-size: 18px;
                position: absolute;
                font-family: $fontTitle;
                color: transparent;
                transition: 0.3s;
                top: -25px;
                left: 30px;
                content: '少商穴';
            }
            .fshao_shang::before{
                width: 12px;
                font-size: 18px;
                position: absolute;
                font-family: $fontTitle;
                color: transparent;
                transition: 0.3s;
                top: -25px;
                left: 30px;
                content: '少商穴';
            }
            .shao_shang:hover::before{
                color: $blue;
                transition: 0.3s 0.2s;
            }
            .fshao_shang:focus::before{
                color: $blue;
            }

            .he_gu{
                position: absolute;
                top: 62%;
                left: 57%;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                z-index: 98;
            }
            .fhe_gu{
                position: absolute;
                top: 62%;
                left: 57%;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                z-index: 98;
            }
            .he_gu:hover{
                background-color: $red;
                transition: 0.3s;
                scale: 1.5;
                box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
            }
            .fhe_gu:focus{
                background-color: $red;
                scale: 1.5;
                box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
            }
            .he_gu::after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                background-color: $blue;
                transition: 0.5s;
                top: 12px;
                left: 100%;
            }
            .fhe_gu::after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                background-color: $blue;
                transition: 0.5s;
                top: 12px;
                left: 100%;
            }
            .he_gu:hover::after{
                height: 1px;
                transition: 0.5s;
                left: 100%;
                width: 70px;
            }
            .fhe_gu:focus::after{
                height: 1px;
                left: 100%;
                width: 70px;
            }
            .he_gu::before{
                width: 12px;
                font-size: 18px;
                position: absolute;
                font-family: $fontTitle;
                color: transparent;
                transition: 0.3s;
                top: -23px;
                left: 90px;
                content: '合谷穴';
            }
            .fhe_gu::before{
                width: 12px;
                font-size: 18px;
                position: absolute;
                font-family: $fontTitle;
                color: transparent;
                transition: 0.3s;
                top: -23px;
                left: 90px;
                content: '合谷穴';
            }
            .he_gu:hover::before{
                color: $blue;
                transition: 0.3s 0.2s;
            }
            .fhe_gu:focus::before{
                color: $blue;
            }

            .ming_men{
                position: absolute;
                top: 43%;
                left: 10%;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                z-index: 98;
            }
            .fming_men{
                position: absolute;
                top: 43%;
                left: 10%;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                z-index: 98;
            }
            .ming_men:hover{
                background-color: $red;
                transition: 0.3s;
                scale: 1.5;
                box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
            }
            .fming_men:focus{
                background-color: $red;
                scale: 1.5;
                box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
            }
            .ming_men::after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                background-color: $blue;
                transition: 0.5s;
                top: 12px;
                left: 0px;
            }
            .fming_men::after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                background-color: $blue;
                transition: 0.5s;
                top: 12px;
                left: 0px;
            }
            .ming_men:hover::after{
                height: 1px;
                transition: 0.5s;
                width: 13px;
                left: -13px;
            }
            .fming_men:focus::after{
                height: 1px;
                width: 13px;
                left: -13px;
            }
            .ming_men::before{
                width: 12px;
                font-size: 18px;
                position: absolute;
                font-family: $fontTitle;
                color: transparent;
                transition: 0.3s;
                top: -25px;
                left: -35px;
                content: '命門穴';
            }
            .fming_men::before{
                width: 12px;
                font-size: 18px;
                position: absolute;
                font-family: $fontTitle;
                color: transparent;
                transition: 0.3s;
                top: -25px;
                left: -35px;
                content: '命門穴';
            }
            .ming_men:hover::before{
                color: $blue;
                transition: 0.3s 0.2s;
            }
            .fming_men:focus::before{
                color: $blue;
            }
            
            .shen_men{
                position: absolute;
                top: 95%;
                left: 28%;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                z-index: 98;
            }
            .fshen_men{
                position: absolute;
                top: 95%;
                left: 28%;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                z-index: 98;
            }
            .shen_men:hover{
                background-color: $red;
                transition: 0.3s;
                scale: 1.5;
                box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
            }
            .fshen_men:focus{
                background-color: $red;
                scale: 1.5;
                box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
            }
            .shen_men::after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                background-color: $blue;
                transition: 0.5s;
                top: 12px;
                left: 0px;
            }
            .fshen_men::after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                background-color: $blue;
                transition: 0.5s;
                top: 12px;
                left: 0px;
            }
            .shen_men:hover::after{
                height: 1px;
                transition: 0.5s;
                width: 28px;
                left: -28px;
            }
            .fshen_men:focus::after{
                height: 1px;
                width: 28px;
                left: -28px;
            }
            .shen_men::before{
                width: 12px;
                font-size: 18px;
                position: absolute;
                font-family: $fontTitle;
                color: transparent;
                transition: 0.3s;
                top: -25px;
                left: -50px;
                content: '神門穴';
            }
            .fshen_men::before{
                width: 12px;
                font-size: 18px;
                position: absolute;
                font-family: $fontTitle;
                color: transparent;
                transition: 0.3s;
                top: -25px;
                left: -50px;
                content: '神門穴';
            }
            .shen_men:hover::before{
                color: $blue;
                transition: 0.3s 0.2s;
            }
            .fshen_men:focus::before{
                color: $blue;
            }

            .lao_gong{
                position: absolute;
                top: 55%;
                left: 40%;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                z-index: 98;
            }
            .flao_gong{
                position: absolute;
                top: 55%;
                left: 40%;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                z-index: 98;
            }
            .lao_gong:hover{
                background-color: $red;
                transition: 0.3s;
                scale: 1.5;
                box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
            }
            .flao_gong:focus{
                background-color: $red;
                scale: 1.5;
                box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
            }
            .lao_gong::after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                background-color: $blue;
                transition: 0.5s;
                top: 12px;
                left: 0px;
            }
            .flao_gong::after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                background-color: $blue;
                transition: 0.5s;
                top: 12px;
                left: 0px;
            }
            .lao_gong:hover::after{
                height: 1px;
                transition: 0.5s;
                left: -80px;
                width: 80px;
            }
            .flao_gong:focus::after{
                height: 1px;
                left: -80px;
                width: 80px;
            }
            .lao_gong::before{
                width: 12px;
                font-size: 18px;
                position: absolute;
                font-family: $fontTitle;
                color: transparent;
                transition: 0.3s;
                top: -25px;
                left: -100px;
                content: '勞宮穴';
            }
            .flao_gong::before{
                width: 12px;
                font-size: 18px;
                position: absolute;
                font-family: $fontTitle;
                color: transparent;
                transition: 0.3s;
                top: -25px;
                left: -100px;
                content: '勞宮穴';
            }
            .lao_gong:hover::before{
                color: $blue;
                transition: 0.3s 0.2s;
            }
            .flao_gong:focus::before{
                color: $blue;
            }
            
            .yu_ji{
                position: absolute;
                top: 67%;
                left: 72%;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                z-index: 98;
            }
            .fyu_ji{
                position: absolute;
                top: 67%;
                left: 72%;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                z-index: 98;
            }
            .yu_ji:hover{
                background-color: $red;
                transition: 0.3s;
                scale: 1.5;
                box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
            }
            .fyu_ji:focus{
                background-color: $red;
                scale: 1.5;
                box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
            }
            .yu_ji::after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                background-color: $blue;
                transition: 0.5s;
                top: 12px;
                left: 100%;
            }
            .fyu_ji::after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                background-color: $blue;
                transition: 0.5s;
                top: 12px;
                left: 100%;
            }
            .yu_ji:hover::after{
                height: 1px;
                transition: 0.5s;
                width: 20px;
                left: 100%;
            }
            .fyu_ji:focus::after{
                height: 1px;
                width: 20px;
                left: 100%;
            }
            .yu_ji::before{
                width: 12px;
                font-size: 18px;
                position: absolute;
                font-family: $fontTitle;
                color: transparent;
                transition: 0.3s;
                top: -25px;
                left: 40px;
                content: '魚際穴';
            }
            .fyu_ji::before{
                width: 12px;
                font-size: 18px;
                position: absolute;
                font-family: $fontTitle;
                color: transparent;
                transition: 0.3s;
                top: -25px;
                left: 40px;
                content: '魚際穴';
            }
            .yu_ji:hover::before{
                color: $blue;
                transition: 0.3s 0.2s;
            }
            .fyu_ji:focus::before{
                color: $blue;
            }

            .shao_fu{
                position: absolute;
                top: 67%;
                left: 25%;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                z-index: 98;
            }
            .fshao_fu{
                position: absolute;
                top: 67%;
                left: 25%;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                z-index: 98;
            }
            .shao_fu:hover{
                background-color: $red;
                transition: 0.3s;
                scale: 1.5;
                box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
            }
            .fshao_fu:focus{
                background-color: $red;
                scale: 1.5;
                box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
            }
            .shao_fu::after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                background-color: $blue;
                transition: 0.5s;
                top: 12px;
                left: 0px;
            }
            .fshao_fu::after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                background-color: $blue;
                transition: 0.5s;
                top: 12px;
                left: 0px;
            }
            .shao_fu:hover::after{
                height: 1px;
                transition: 0.5s;
                left: -28px;
                width: 28px;
            }
            .fshao_fu:focus::after{
                height: 1px;
                left: -28px;
                width: 28px;
            }
            .shao_fu::before{
                width: 12px;
                font-size: 18px;
                position: absolute;
                font-family: $fontTitle;
                color: transparent;
                transition: 0.3s;
                top: -25px;
                left: -50px;
                content: '少府穴';
            }
            .fshao_fu::before{
                width: 12px;
                font-size: 18px;
                position: absolute;
                font-family: $fontTitle;
                color: transparent;
                transition: 0.3s;
                top: -25px;
                left: -50px;
                content: '少府穴';
            }
            .shao_fu:hover::before{
                color: $blue;
                transition: 0.3s 0.2s;
            }
            .fshao_fu:focus::before{
                color: $blue;
            }

            .tai_yuan{
                position: absolute;
                top: 93%;
                left: 53%;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                z-index: 98;
            }
            .ftai_yuan{
                position: absolute;
                top: 93%;
                left: 53%;
                width: 20px;
                height: 20px;
                background-color: $red;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                z-index: 98;
            }
            .tai_yuan:hover{
                background-color: $red;
                transition: 0.3s;
                scale: 1.5;
                box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
            }
            .ftai_yuan:focus{
                background-color: $red;
                scale: 1.5;
                box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
            }
            .tai_yuan::after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                background-color: $blue;
                transition: 0.5s;
                top: 12px;
                left: 100%;
            }
            .ftai_yuan::after{
                position: absolute;
                content: '';
                width: 0px;
                height: 0px;
                background-color: $blue;
                transition: 0.5s;
                top: 12px;
                left: 100%;
            }
            .tai_yuan:hover::after{
                height: 1px;
                transition: 0.5s;
                width: 30px;
                left: 100%;
            }
            .ftai_yuan:focus::after{
                height: 1px;
                width: 30px;
                left: 100%;
            }
            .tai_yuan::before{
                width: 12px;
                font-size: 18px;
                position: absolute;
                font-family: $fontTitle;
                color: transparent;
                transition: 0.3s;
                top: -25px;
                left: 50px;
                content: '太淵穴';
            }
            .ftai_yuan::before{
                width: 12px;
                font-size: 18px;
                position: absolute;
                font-family: $fontTitle;
                color: transparent;
                transition: 0.3s;
                top: -25px;
                left: 50px;
                content: '太淵穴';
            }
            .tai_yuan:hover::before{
                color: $blue;
                transition: 0.3s 0.2s;
            }
            .ftai_yuan:focus::before{
                color: $blue;
            }
            .none{
                display: none;
            }
        }
    }
    .game_btn{
        margin: 70px 0px 120px 0px;
        text-align: center;
        a{
            text-decoration: none;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
        
}

/*====== 平板版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
    .massage_game{
        .game_container{
            .quiz_container{
                .question_container{
                    margin: 70px auto 70px auto;
                    width: 70%;
                    .question_frame{
                        .question{
                            font-size: 20px;
                        }
                    }
                    &::before{
                        border-top: 30px solid transparent;
                        border-right: 30px solid transparent;
                        border-bottom: 30px solid transparent;
                        border-left: 50px solid $blue;
                        top: 9%;
                        left: 100%;
                    }
                }
                .answer_container{
                    width: 60%;
                    margin: 0px auto 70px auto;
                    border: 3px solid $blue;
                    .answer_frame{
                        font-size: 20px;
                    }
                }
                .answer_container::before{
                    border-top: 40px solid transparent;
                    border-right: 40px solid transparent;
                    border-bottom: 40px solid transparent;
                    border-left: 60px solid #163D82;
                    top: 6%;
                    left: 100%;
                }
                .correct_container{
                    width: 60%;
                    .correct_frame{
                        .correct{

                        }
                    }
                }
                .correct_container::before{
                    border-top: 30px solid transparent;
                    border-right: 30px solid transparent;
                    border-bottom: 30px solid transparent;
                    border-left: 50px solid $blue;
                    top: 9%;
                    left: 100%;
                }
            }
            .hand_pic{
                margin: 0px auto 0px auto;
                width: 50%;
                .zhong_chong::after{
                    top: 12px;
                    left: 0px;
                }
                .fzhong_chong::after{
                    top: 12px;
                    left: 0px;
                }
                .zhong_chong:hover::after{
                    left: -40px;
                }
                .fzhong_chong:focus::after{
                    left: -40px;
                }
                .zhong_chong::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -100px;
                    content: '中衝穴';
                }
                .fzhong_chong::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -100px;
                    content: '中衝穴';
                }

                .shao_shang::after{
                    top: 12px;
                    left: 100%;
                }
                .fshao_shang::after{
                    top: 12px;
                    left: 100%;
                }
                .shao_shang:hover::after{
                    width: 40px;
                    left: 100%;
                }
                .fshao_shang:focus::after{
                    width: 40px;
                    left: 100%;
                }
                .shao_shang::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: 60px;
                    content: '少商穴';
                }
                .fshao_shang::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: 60px;
                    content: '少商穴';
                }

                .he_gu::after{
                    top: 12px;
                    left: 100%;
                }
                .fhe_gu::after{
                    top: 12px;
                    left: 100%;
                }
                .he_gu:hover::after{
                    left: 100%;
                    width: 100px;
                }
                .fhe_gu:focus::after{
                    left: 100%;
                    width: 100px;
                }
                .he_gu::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: 120px;
                    content: '合谷穴';
                }
                .fhe_gu::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: 120px;
                    content: '合谷穴';
                }

                .ming_men::after{
                    top: 12px;
                    left: 0px;
                }
                .fming_men::after{
                    top: 12px;
                    left: 0px;
                }
                .ming_men:hover::after{
                    width: 35px;
                    left: -35px;
                }
                .fming_men:focus::after{
                    width: 35px;
                    left: -35px;
                }
                .ming_men::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -95px;
                    content: '命門穴';
                }
                .fming_men::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -95px;
                    content: '命門穴';
                }

                .shen_men::after{
                    top: 12px;
                    left: 0px;
                }
                .fshen_men::after{
                    top: 12px;
                    left: 0px;
                }
                .shen_men:hover::after{
                    width: 40px;
                    left: -40px;
                }
                .fshen_men:focus::after{
                    width: 40px;
                    left: -40px;
                }
                .shen_men::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -100px;
                    content: '神門穴';
                }
                .fshen_men::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -100px;
                    content: '神門穴';
                }

                .lao_gong::after{
                    top: 12px;
                    left: 0px;
                }
                .flao_gong::after{
                    top: 12px;
                    left: 0px;
                }
                .lao_gong:hover::after{
                    left: -110px;
                    width: 110px;
                }
                .flao_gong:focus::after{
                    left: -110px;
                    width: 110px;
                }
                .lao_gong::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -170px;
                    content: '勞宮穴';
                }
                .flao_gong::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -170px;
                    content: '勞宮穴';
                }

                .yu_ji::after{
                    top: 12px;
                    left: 100%;
                }
                .fyu_ji::after{
                    top: 12px;
                    left: 100%;
                }
                .yu_ji:hover::after{
                    width: 40px;
                    left: 100%;
                }
                .fyu_ji:focus::after{
                    width: 40px;
                    left: 100%;
                }
                .yu_ji::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: 60px;
                    content: '魚際穴';
                }
                .fyu_ji::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: 60px;
                    content: '魚際穴';
                }

                .shao_fu::after{
                    top: 12px;
                    left: 0px;
                }
                .fshao_fu::after{
                    top: 12px;
                    left: 0px;
                }
                .shao_fu:hover::after{
                    left: -60px;
                    width: 60px;
                }
                .vshao_fu:focus::after{
                    left: -60px;
                    width: 60px;
                }
                .shao_fu::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -120px;
                    content: '少府穴';
                }
                .fshao_fu::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -120px;
                    content: '少府穴';
                }

                .tai_yuan::after{
                    top: 12px;
                    left: 100%;
                }
                .ftai_yuan::after{
                    top: 12px;
                    left: 100%;
                }
                .tai_yuan:hover::after{
                    width: 40px;
                    left: 100%;
                }
                .ftai_yuan:focus::after{
                    width: 40px;
                    left: 100%;
                }
                .tai_yuan::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: 60px;
                    content: '太淵穴';
                }
                .ftai_yuan::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: 60px;
                    content: '太淵穴';
                }
            }
        }

    }
}
/*====== 桌機版 RWD | >1200px ======*/
@media screen and (min-width: 1200px){
    .massage_game{
        .game_container{
            display: flex;
            flex-wrap: wrap;
            .quiz_container{
                width: 50%;
                .question_container{
                    margin: 30px auto 70px auto;
                    .question_frame{
                        .question{
                            font-size: 24px;
                        }
                    }
                    &::before{
                        border-top: 40px solid transparent;
                        border-right: 40px solid transparent;
                        border-bottom: 40px solid transparent;
                        border-left: 60px solid #163D82;
                        top: 10%;
                        left: 101%;
                    }
                }
                .answer_container{
                    width: 60%;
                    margin: 0px 0px 0px 10%;
                    .answer_frame{
                        padding: 20px;
                        font-size: 24px;
                    }
                }
                .answer_container::before{
                    border-top: 40px solid transparent;
                    border-right: 60px solid $blue;
                    border-bottom: 40px solid transparent;
                    border-left: 40px solid transparent;
                    top: 7%;
                    right: 100%;
                }
                .correct_container{
                    width: 60%;
                    margin: 70px 0px 100px 30%;
                    .correct_frame{
                        .correct{

                        }
                    }
                    
                }
                .correct_container::before{
                    border-top: 30px solid transparent;
                    border-right: 30px solid transparent;
                    border-bottom: 30px solid transparent;
                    border-left: 50px solid $blue;
                    top: 9%;
                    left: 100%;
                }
            }
            .hand_pic{
                width: 35%;
                .zhong_chong::after{
                    top: 12px;
                    left: 0px;
                }
                .fzhong_chong::after{
                    top: 12px;
                    left: 0px;
                }
                .zhong_chong:hover::after{
                    left: -40px;
                }
                .fzhong_chong:focus::after{
                    left: -40px;
                }
                .zhong_chong::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -100px;
                    content: '中衝穴';
                }
                .fzhong_chong::before{
                    width: 60px;
                    top: 0px;
                    font-size: 20px;
                    left: -100px;
                    content: '中衝穴';
                }

                .shao_shang::after{
                    top: 100%;
                    left: 50%;
                }
                .fshao_shang::after{
                    top: 100%;
                    left: 50%;
                }
                .shao_shang:hover::after{
                    width: 1px;
                    height: 15px;
                    left: 50%;
                }
                .fshao_shang:focus::after{
                    width: 1px;
                    height: 15px;
                    left: 50%;
                }
                .shao_shang::before{
                    width: 60px;
                    font-size: 20px;
                    top: 40px;
                    left: 0px;
                    content: '少商穴';
                }
                .fshao_shang::before{
                    width: 60px;
                    font-size: 20px;
                    top: 40px;
                    left: 0px;
                    content: '少商穴';
                }

                .he_gu::after{
                    top: 12px;
                    left: 100%;
                }
                .fhe_gu::after{
                    top: 12px;
                    left: 100%;
                }
                .he_gu:hover::after{
                    left: 100%;
                    width: 75px;
                }
                .fhe_gu:focus::after{
                    left: 100%;
                    width: 75px;
                }
                .he_gu::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: 105px;
                    content: '合谷穴';
                }
                .fhe_gu::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: 105px;
                    content: '合谷穴';
                }

                .ming_men::after{
                    top: 12px;
                    left: 0px;
                }
                .fming_men::after{
                    top: 12px;
                    left: 0px;
                }
                .ming_men:hover::after{
                    width: 40px;
                    left: -40px;
                }
                .fming_men:focus::after{
                    width: 40px;
                    left: -40px;
                }
                .ming_men::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -100px;
                    content: '命門穴';
                }
                .fming_men::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -100px;
                    content: '命門穴';
                }

                .shen_men::after{
                    top: 12px;
                    left: 0px;
                }
                .fshen_men::after{
                    top: 12px;
                    left: 0px;
                }
                .shen_men:hover::after{
                    width: 40px;
                    left: -40px;
                }
                .fshen_men:focus::after{
                    width: 40px;
                    left: -40px;
                }
                .shen_men::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -100px;
                    content: '神門穴';
                }
                .fshen_men::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -100px;
                    content: '神門穴';
                }

                .lao_gong::after{
                    top: 12px;
                    left: 0px;
                }
                .flao_gong::after{
                    top: 12px;
                    left: 0px;
                }
                .lao_gong:hover::after{
                    left: -110px;
                    width: 110px;
                }
                .flao_gong:focus::after{
                    left: -110px;
                    width: 110px;
                }
                .lao_gong::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -170px;
                    content: '勞宮穴';
                }
                .flao_gong::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -170px;
                    content: '勞宮穴';
                }

                .yu_ji::after{
                    top: 12px;
                    left: 100%;
                }
                .fyu_ji::after{
                    top: 12px;
                    left: 100%;
                }
                .yu_ji:hover::after{
                    width: 20px;
                    left: 100%;
                }
                .fyu_ji:focus::after{
                    width: 20px;
                    left: 100%;
                }
                .yu_ji::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: 50px;
                    content: '魚際穴';
                }
                .fyu_ji::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: 50px;
                    content: '魚際穴';
                }

                .shao_fu::after{
                    top: 12px;
                    left: 0px;
                }
                .fshao_fu::after{
                    top: 12px;
                    left: 0px;
                }
                .shao_fu:hover::after{
                    left: -60px;
                    width: 60px;
                }
                .fshao_fu:focus::after{
                    left: -60px;
                    width: 60px;
                }
                .shao_fu::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -120px;
                    content: '少府穴';
                }
                .fshao_fu::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: -120px;
                    content: '少府穴';
                }

                .tai_yuan::after{
                    top: 12px;
                    left: 100%;
                }
                .ftai_yuan::after{
                    top: 12px;
                    left: 100%;
                }
                .tai_yuan:hover::after{
                    width: 40px;
                    left: 100%;
                }
                .ftai_yuan:focus::after{
                    width: 40px;
                    left: 100%;
                }
                .tai_yuan::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: 70px;
                    content: '太淵穴';
                }
                .ftai_yuan::before{
                    width: 60px;
                    font-size: 20px;
                    top: 0px;
                    left: 70px;
                    content: '太淵穴';
                }
            }
        }
        .game_btn{
            margin:-30px 0px 120px -50%;
        }
    }
}