.massage_game{
    width: 100%;
    .question_container{
        width: 80%;
        padding: 5px;
        margin: 70px auto 120px auto;
        border: 3px solid $blue;
        border-radius: 12px;
        box-shadow: 6px 10px 0px 0px $blue;
        background-color: #fff;
        position: relative;
        .question_frame{
            border-radius: 8px;
            border: 2px solid $blue;
            .question{
                padding: 20px;
                text-align: center;
                line-height: 2;
                color: #524F4F;
                font-size: 18px;
            }
        }
        &::before{
            content: "";
            width: 0px;
            border-top: 60px solid $blue;
            border-right: 50px solid transparent;
            border-bottom: 50px solid transparent ;
            border-left: 50px solid transparent;
            position: absolute;
            top: 100%;
            left: 1%;
        }
    }
    .hand_pic{
        width: 70%;
        margin: 0 auto 0 auto;
        position: relative;
        img{
            display: block;
            width: 100%;
        }
        .acupoint{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 20px;
            height: 20px;
            background-color: $red;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            transition: 0.3s;
            z-index: 98;
        }
        .acupoint:hover,.acupoint:focus{
            background-color: $red;
            transition: 0.3s;
            scale: 1.5;
            box-shadow: 0px 0px 10px $red,inset 0px 0px 5px $white;
        }
        .acupoint::after{
            position: absolute;
            top: 0px;
            left: 0px;
            content: '';
            width: 0px;
            height: 0px;
            background-color: $blue;
            transition: 0.5s;
        }
        .acupoint:hover::after,
        .acupoint:focus::after{
            left: 0px;
            width: 40px;
            height: 1px;
            transition: 0.5s;
        }
        .acupoint::before{
            width: 12px;
            font-size: 12px;
            position: absolute;
            top: 0px;
            left: 0px;
            content: '';
            font-family: $fontTitle;
            color: transparent;
            font-size: 20px;
            transition: 0.3s;
        }
        .acupoint:hover::before,
        .acupoint:focus::before{
            color: $blue;
            transition: 0.3s 0.2s;
        }
        .zhong_chong{
            left: 35%;
        }
        .shao_shang{
            top: 44%;
            left: 90%;
        }
        .he_gu{
            top: 62%;
            left: 57%;
        }
        .ming_men{
            top: 43%;
            left: 10%;
        }
        .shen_men{
            top: 95%;
            left: 28%;
        }
        .lao_gong{
            top: 55%;
            left: 40%;
        }
        
        .yu_ji{
            top: 67%;
            left: 72%;
        }
        .shao_fu{
            top: 67%;
            left: 25%;
        }
        .tai_yuan{
            top: 93%;
            left: 53%;
        }
        .zhong_chong::after{
            top: 12px;
            left: 0px;
        }
        .zhong_chong:hover::after,
        .zhong_chong:focus::after{
            left: -40px;
            transition: 0.5s;
        }
        .zhong_chong::before{
            top: -25px;
            left: -65px;
            content: '中衝穴';
        }
        .shao_shang::after{
            top: 12px;
            left: 100%;
        }
        .shao_shang:hover::after,
        .shao_shang:focus::after{
            width: 10px;
            left: 100%;
            transition: 0.5s;
        }
        .shao_shang::before{
            top: -25px;
            left: 30px;
            content: '少商穴';
        }
        .he_gu::after{
            top: 12px;
            left: 100%;
        }
        .he_gu:hover::after,
        .he_gu:focus::after{
            left: 100%;
            width: 40px;
            transition: 0.5s;
        }
        .he_gu::before{
            top: -23px;
            left: 60px;
            content: '合谷穴';
        }
        .ming_men::after{
            top: 12px;
            left: 0px;
        }
        .ming_men:hover::after,
        .ming_men:focus::after{
            width: 13px;
            left: -13px;
            transition: 0.5s;
        }
        .ming_men::before{
            top: -25px;
            left: -35px;
            content: '命門穴';
        }
        .shen_men::after{
            top: 12px;
            left: 0px;
        }
        .shen_men:hover::after,
        .shen_men:focus::after{
            width: 28px;
            left: -28px;
            transition: 0.5s;
        }
        .shen_men::before{
            top: -25px;
            left: -50px;
            content: '神門穴';
        }
        .lao_gong::after{
            top: 12px;
            left: 0px;
        }
        .lao_gong:hover::after,
        .lao_gong:focus::after{
            left: -60px;
            width: 60px;
            transition: 0.5s;
        }
        .lao_gong::before{
            top: -25px;
            left: -80px;
            content: '勞宮穴';
        }
        .yu_ji::after{
            top: 12px;
            left: 100%;
        }
        .yu_ji:hover::after,
        .yu_ji:focus::after{
            width: 20px;
            left: 100%;
            transition: 0.5s;
        }
        .yu_ji::before{
            top: -25px;
            left: 40px;
            content: '魚際穴';
        }
        .shao_fu::after{
            top: 12px;
            left: 0px;
        }
        .shao_fu:hover::after,
        .shao_fu:focus::after{
            left: -28px;
            width: 28px;
            transition: 0.5s;
        }
        .shao_fu::before{
            top: -25px;
            left: -50px;
            content: '少府穴';
        }
        .tai_yuan::after{
            top: 12px;
            left: 100%;
        }
        .tai_yuan:hover::after,
        .tai_yuan:focus::after{
            width: 30px;
            left: 100%;
            transition: 0.5s;
        }
        .tai_yuan::before{
            top: -25px;
            left: 50px;
            content: '太淵穴';
        }
    }
    .game_btn{
        margin-top: 120px;
        margin-bottom: 120px;
        text-align: center;
        a{
            text-decoration: none;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
        
}

/*====== 平板版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
    .massage_game{
        .question_container{
            .question_frame{
                .question{
                    font-size: 20px;
                }
            }
            &::before{
                top: 110%;
            }
        }
        .hand_pic{
            width: 60%;
            .acupoint{
                width: 25px;
                height: 25px;
            }
            .acupoint::before{
                width: 60px;
                font-size: 20px;
            }
            .zhong_chong::after{
                top: 12px;
                left: 0px;
            }
            .zhong_chong:hover::after,
            .zhong_chong:focus::after{
                left: -40px;
                transition: 0.5s;
            }
            .zhong_chong::before{
                top: 0px;
                left: -100px;
                content: '中衝穴';
            }
            .shao_shang::after{
                top: 12px;
                left: 100%;
            }
            .shao_shang:hover::after,
            .shao_shang:focus::after{
                width: 40px;
                left: 100%;
                transition: 0.5s;
            }
            .shao_shang::before{
                top: 0px;
                left: 70px;
                content: '少商穴';
            }
            .he_gu::after{
                top: 12px;
                left: 100%;
            }
            .he_gu:hover::after,
            .he_gu:focus::after{
                left: 100%;
                width: 100px;
                transition: 0.5s;
            }
            .he_gu::before{
                top: 0px;
                left: 130px;
                content: '合谷穴';
            }
            .ming_men::after{
                top: 12px;
                left: 0px;
            }
            .ming_men:hover::after,
            .ming_men:focus::after{
                width: 40px;
                left: -40px;
                transition: 0.5s;
            }
            .ming_men::before{
                top: 0px;
                left: -100px;
                content: '命門穴';
            }
            .shen_men::after{
                top: 12px;
                left: 0px;
            }
            .shen_men:hover::after,
            .shen_men:focus::after{
                width: 40px;
                left: -40px;
                transition: 0.5s;
            }
            .shen_men::before{
                top: 0px;
                left: -100px;
                content: '神門穴';
            }
            .lao_gong::after{
                top: 12px;
                left: 0px;
            }
            .lao_gong:hover::after,
            .lao_gong:focus::after{
                left: -140px;
                width: 140px;
                transition: 0.5s;
            }
            .lao_gong::before{
                top: 0px;
                left: -200px;
                content: '勞宮穴';
            }
            .yu_ji::after{
                top: 12px;
                left: 100%;
            }
            .yu_ji:hover::after,
            .yu_ji:focus::after{
                width: 40px;
                left: 100%;
                transition: 0.5s;
            }
            .yu_ji::before{
                top: 0px;
                left: 70px;
                content: '魚際穴';
            }
            .shao_fu::after{
                top: 12px;
                left: 0px;
            }
            .shao_fu:hover::after,
            .shao_fu:focus::after{
                left: -60px;
                width: 60px;
                transition: 0.5s;
            }
            .shao_fu::before{
                top: 0px;
                left: -120px;
                content: '少府穴';
            }
            .tai_yuan::after{
                top: 12px;
                left: 100%;
            }
            .tai_yuan:hover::after,
            .tai_yuan:focus::after{
                width: 40px;
                left: 100%;
                transition: 0.5s;
            }
            .tai_yuan::before{
                top: 0px;
                left: 70px;
                content: '太淵穴';
            }
        }
    }
}
/*====== 桌機版 RWD | >1200px ======*/
@media screen and (min-width: 1200px){
    .massage_game{
        .question_container{
            width: 60%;
            .question_frame{
                .question{
                    font-size: 24px;
                }
            }
        }
        .hand_pic{
            width: 40%;
            .acupoint{
                width: 25px;
                height: 25px;
            }
            .acupoint::before{
                width: 60px;
                font-size: 20px;
            }
            .zhong_chong::after{
                top: 12px;
                left: 0px;
            }
            .zhong_chong:hover::after,
            .zhong_chong:focus::after{
                left: -40px;
                transition: 0.5s;
            }
            .zhong_chong::before{
                top: 0px;
                left: -100px;
                content: '中衝穴';
            }
            .shao_shang::after{
                top: 12px;
                left: 100%;
            }
            .shao_shang:hover::after,
            .shao_shang:focus::after{
                width: 40px;
                left: 100%;
                transition: 0.5s;
            }
            .shao_shang::before{
                top: 0px;
                left: 70px;
                content: '少商穴';
            }
            .he_gu::after{
                top: 12px;
                left: 100%;
            }
            .he_gu:hover::after,
            .he_gu:focus::after{
                left: 100%;
                width: 100px;
                transition: 0.5s;
            }
            .he_gu::before{
                top: 0px;
                left: 130px;
                content: '合谷穴';
            }
            .ming_men::after{
                top: 12px;
                left: 0px;
            }
            .ming_men:hover::after,
            .ming_men:focus::after{
                width: 40px;
                left: -40px;
                transition: 0.5s;
            }
            .ming_men::before{
                top: 0px;
                left: -100px;
                content: '命門穴';
            }
            .shen_men::after{
                top: 12px;
                left: 0px;
            }
            .shen_men:hover::after,
            .shen_men:focus::after{
                width: 40px;
                left: -40px;
                transition: 0.5s;
            }
            .shen_men::before{
                top: 0px;
                left: -100px;
                content: '神門穴';
            }
            .lao_gong::after{
                top: 12px;
                left: 0px;
            }
            .lao_gong:hover::after,
            .lao_gong:focus::after{
                left: -140px;
                width: 140px;
                transition: 0.5s;
            }
            .lao_gong::before{
                top: 0px;
                left: -200px;
                content: '勞宮穴';
            }
            .yu_ji::after{
                top: 12px;
                left: 100%;
            }
            .yu_ji:hover::after,
            .yu_ji:focus::after{
                width: 40px;
                left: 100%;
                transition: 0.5s;
            }
            .yu_ji::before{
                top: 0px;
                left: 70px;
                content: '魚際穴';
            }
            .shao_fu::after{
                top: 12px;
                left: 0px;
            }
            .shao_fu:hover::after,
            .shao_fu:focus::after{
                left: -60px;
                width: 60px;
                transition: 0.5s;
            }
            .shao_fu::before{
                top: 0px;
                left: -120px;
                content: '少府穴';
            }
            .tai_yuan::after{
                top: 12px;
                left: 100%;
            }
            .tai_yuan:hover::after,
            .tai_yuan:focus::after{
                width: 40px;
                left: 100%;
                transition: 0.5s;
            }
            .tai_yuan::before{
                top: 0px;
                left: 70px;
                content: '太淵穴';
            }
        }
    }
}