.full_page{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.memberLogin {
    padding: 150px 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 26px;
        position: relative;
        left: -130px;
        margin-bottom: 0;
    }

    hr {
        width: 300px;
    }

    .input_area {
        width: 300px;
        padding-top: 48px;
        margin: 0 auto;
        font-size: 20px;

        .account {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .password {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        input {
            width: 200px;
            margin-left: 16px;
            padding: 0;
        }

        .sign {
            display: flex;
            justify-content: end;

            a {
                text-decoration: none;
                color: #000;
                font-size: 12px;
                padding: 0 5px;
            }
        }
    }

    .another_login {
        display: flex;
        justify-content: center;
        padding-top: 20px;

        a{
            display: block;
            width: 30px;
            height: 30px;
            img{
                width: 100%;
                height: 100%;
            }
        }

        .facebook {
            margin: 0 30px;
        }
    }
}

.login_btn{
    margin: 10px 0;
    a{
        text-decoration: none;
        color: $white;
        &:hover{
            color: $white;
        }
    }
}

@media screen and (min-width: 768px){
    .full_page{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}