.register {
    @include container;

    .title {
        font-size: 40px;
        position: relative;
        padding: 40px 0;
        text-align: center;
    }

    .register_information {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;

        .input_title {
            font-size: 20px;
            line-height: 60px;
        }

        .input_area {
            padding-left: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            line-height: 22px;
        }
    }

    .btnLittle {
        margin: 0 auto 40px;
    }
}

@media screen and (min-width:1200px) {
    .register {
        .title {
            padding: 40px 0;
            text-align: left;
        }
    }
}