.page_header {
    width: 100%;
    display: flex;
    background-color: $baseWhite;
    box-shadow: 0px 2px 3px rgba(48, 48, 48, 0.252);
    z-index: 999;
    position: fixed;

    nav{
        max-width: 1200px;
        width: 100%;
        // width: 1200px;
        height: 80px;
        list-style: none;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        padding: 0px 20px 0px 10px;
        .header_logo{
            width: 160px;
            display: block;
            padding: 5px 0px;
            align-self: center;
            img{
                width: 100%;
            }
        }
        .navList{
            width: 60%;
            display: flex;
            justify-content: space-around;
            
            li{
                align-self: center;
                
                
                a {
                    display: inline-block;
                    font-family: $fontTitle;
                    font-weight: 600;
                    font-size: 18px;
                    letter-spacing: 2px;
                    color: $blue;
                    text-decoration: none;
                    padding: 5px;
                    white-space: nowrap;
                    position: relative;
                    text-transform: uppercase;
                    bottom: 2px black solid;
                    cursor: pointer;

                    
                    &:before{
                        position: absolute;
                        content: '';
                        left: 0;
                        bottom: 0;
                        height: 1.5px;
                        width: 100%;
                        background-color: $red;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform .3s linear;
                    }
                    &:hover:before{
                        transform: scaleX(1);
                        transform-origin: left;
                    }
                    &:hover{
                        color: $red;
                    }
                }
            }
        }
        .header_icon{
            display: flex;
            width: 90px;
            justify-content: space-between;
            position: relative;
            #check2{
                display: none;
                
            }
            label{
                display: block;
                align-self: center;
                .header_loginMember{ //這是已登入大頭!!!!!!!!!!
                    width: 30px;
                    align-self: center;
                    background-color: transparent;
                    cursor: pointer;
                    // display: none;//取消顯示
                    a{
                        padding: 0;
        
                        img{
                            vertical-align: bottom;
                            width: 100%;
                        }
                    }
                }
            }
            #check2:checked~.headerLogin{
                opacity: 1;
                display: block;
                
            }
            
            .headerLogin{//大頭下拉選單
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                width: 120px;
                right: 15%;
                top: 80px;
                transition: .8s;
                background-color: white;
                border-radius: 5px;
                border: 1px solid $blue;
                box-shadow: 0px 2px 15px rgb(0 0 0 / 30%);
                opacity: 0;
                z-index: 999;
                display: none;
                
                li{
                    width: 100%;
                    text-align: center;
                    padding: 10px 0px;
                    border-bottom: .5px solid $blue;
                    border-top: .5px solid $blue;
                    a{
                        font-family: $fontTitle;
                        font-weight: 600;
                        font-size: 18px;
                        letter-spacing: 2px;
                        color: $blue;
                        text-decoration: none;
                        padding: 5px;
                        cursor: pointer;
                        &:hover:before{ 
                            display: none;
                        }
                        &:hover{
                            color: $red;
                        }

                    }
                    
                }
                
            }
            
            .header_member{ //這是未登入的大頭!!!!!!!!!!!!
                width: 30px;
                align-self: center;
                // display: none; //取消顯示
                a{
                    padding: 0;
    
                    img{
                        vertical-align: bottom;
                        width: 100%;
                    }
                }
            }  
            .header_shopping_cart{
                width: 30px;
                align-self: center;
                position: relative;
                a{
                    padding: 0;
    
                    img{
                        vertical-align: bottom;
                        width: 100%;
                    }
                }
                .cart-number{
                    width: 20px;
                    height: 20px;
                    vertical-align:middle;
                    text-align: center;
                    color: $white;
                    background-color: red;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                }
            }
        }
        #check{
            display: none;
        }
        .hamburger{
            display: none;
            align-self: center;
            justify-content: space-evenly;
            span{
                width: 36px;
                height: 3px;
                background-color: $blue;
            }
        }
        #check:checked ~ .hamburger .line2{
            opacity: 0;
        }
        #check:checked ~ .hamburger .line1,
        #check:checked ~ .hamburger .line3{    
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
        #check:checked ~ .hamburger .line1{
            transform: rotate(45deg);
        }
        #check:checked ~ .hamburger .line3{
            transform: rotate(-45deg);
        }
        
    }
}



/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){

.page_header nav{
    width: 100%;

    .header_logo{
        width: 160px;
    }
    nav{
        position: fixed;
    }
    .navList{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: $blue ;
        height: 90vh;
        top: 80px;
        left: -100%;
        transition: all .7s;
        opacity: 0;
        background-image: url('/src/assets/images/bcgFlowerLittle.png');
        background-repeat:no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 998;
        li{
            line-height: 40px;
            margin: 30px 0;
            
            a{
                color: $white;
                &:before{
                    background-color: $white;
                }
                &:hover{
                    color: $white;
                }
            }

        }
    }
    #check:checked ~ ul{
        left: 0;
        opacity: 1;
    }
    
    .hamburger{
        width: 36px;
        height: 36px;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 10px;
        justify-content: space-evenly;
        span{
            display: block;
            
        }
    }

    .header_icon{
        margin-right: 55px;
        label{
            .header_loginMember{
                width: 30px;
                align-self: center;
                a{
                    padding: 0;
    
                    img{
                        vertical-align: bottom;
                        width: 100%;
                    }
                }
            }
        }
        #check2:checked~.headerLogin{
            opacity: 1;
        }
        .headerLogin{//大頭下拉選單
            width: 120px;
            // right: 88px;
            top: 80px;

            
        }
        .header_member{
            width: 30px;
            align-self: center;
            a{
                padding: 0;

                img{
                    vertical-align: bottom;
                    width: 100%;
                }
            }
        }  
        .header_shopping_cart{
            width: 30px;
            align-self: center;
            a{
                padding: 0;

                img{
                    vertical-align: bottom;
                    width: 100%;
                }
            }
        }
    }
    

}

}

/*======    平板版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
    .page_header nav{
        width: 100%;
        
    
        .header_logo{
            width: 160px;
  
        }
        nav{
            position: fixed;
        }
        .navList{
            display: flex;
            flex-direction: column;
            width: 100%;
            position: absolute;
            background-color: $blue ;
            height: 90vh;
            top: 80px;
            left: -100%;
            transition: all .7s;
            opacity: 0;
            background-image: url('/src/assets/images/bcgFlowerLittle.png');
            background-repeat:no-repeat;
            background-position: center;
            background-size: cover;
            z-index: 998;
            li{
                line-height: 30px;
                margin: 10px 0;
                
                a{
                    color: $white;
                    &:before{
                        background-color: $white;
                    }
                    &:hover{
                        color: $white;
                    }
                }
    
            }
        }
        .header_icon{
            margin-right: 55px;
            label{
                .header_loginMember{
                    width: 30px;
                    align-self: center;
                    a{
                        padding: 0;
        
                        img{
                            vertical-align: bottom;
                            width: 100%;
                        }
                    }
                }
            }
            #check2:checked~.headerLogin{
                opacity: 1;
            }
            .headerLogin{//大頭下拉選單
                width: 120px;
                // right: 88px;
                top: 80px;
    
                
            }
            .header_member{
                width: 30px;
                align-self: center;
                a{
                    padding: 0;
    
                    img{
                        vertical-align: bottom;
                        width: 100%;
                    }
                }
            }  
            .header_shopping_cart{
                width: 30px;
                align-self: center;
                a{
                    padding: 0;
    
                    img{
                        vertical-align: bottom;
                        width: 100%;
                    }
                }
            }
        }
        #check:checked ~ ul{
            left: 0;
            opacity: 1;
        }
        
        .hamburger{
            width: 36px;
            height: 36px;
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 10px;
            justify-content: space-evenly;
            span{
                display: block;
                
            }
        }
    
    }
}